/* Reset body and html */
html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* main app styling */
.app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main-content {
    flex-grow: 1;
    background: white;
}

/* Sidebar styling */
.sidebar {
    background-color: #7f88ff;
    width: 220px;
    min-height: 100vh;
    padding: 1rem;
    color: black;
}

.sidebar h2 {
    font-size: larger;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #5a5edc;
    color: white;
}

.nav-icon {
    margin-right: 10px;
    font-size: 1.2rem;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e4f0f9;
    padding: 1rem;
}

.header h1 {
    margin: 0;
    min-width: 150px;
}

#search-bar {
    flex-grow: 1;
    max-width: 400px;
    padding: 0.5rem;
    margin: 0 2rem;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 1rem;
}

/* Dashboard Styling */
.stat-card {
    background: #ddd;
    padding: 32px 50px;
    margin: 2rem;
    display: inline-block;
    font-weight: bold;
}

.stat-card p {
    align-items: center;
    text-align: center;
    font-size: larger;
}

.add-btn {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background: #6ea8fe;
    color: white;
    border: none;
    cursor: pointer;
}

/* Table Styling */
table {
    margin: 1rem;
    width: 90%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #333;
    padding: 0.5rem;
    text-align: left;
}

.btn-group {
    display: flex;
    gap: 0.5rem;
}