.empty-page {
    display: flex;
    padding: 50px;
    align-items: center;
}

.empty-page-message {
    text-align: left;
    padding-left: 40px;
}

.bored-cat {
    height: 400px;
    width: 400px;
}



